*{
    margin: 0;
    padding: 0;

}
header{
    font-size: 50px;
}

nav{
    height: 130px;
    width: 100%;
    background-color: red;
    border-bottom: 10px solid black;
    position: fixed;
    top: 0;
}
    




nav ul{

    list-style-type: none;
    float: right;
    text-shadow: 2px 2px white;
}

li{ 
    margin: 10px 10px;
        
}

nav ul li{
    display: inline-block;
    padding: 20px 20px;

}

nav ul li a{
    color: black;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;


}

nav ul li a:hover{
    color: white;
}



.logo img{
    width: 300px;
    height: 100px;
    margin: 15px 35px;
    float: left;
}

body{
    background-image: url("/w4bproject/img/skatingrink.jpg");
    background-size: cover;
}
p{
    top: 50%;
    text-align: center;
    
    font-size: 30px;
    width: 650px;
    padding: 10px;
    margin-left: 30%;
    color: black;
    margin-top: 200px;
    border: 10px solid black;
    background-color: white;
}
.about{
    text-align: center;
    font-size: 30px;
    position: float;
    width: 650px;
    padding: 10px;
    color: black;
    border: 10px solid black;
    background-color: white;
    margin-top: 100px;
    margin-left: 30%;
}





   .column2{
       
       height: 200px;
       width: 33.33%;
       /* padding: 3%; */
       bottom: 0;
       float: left;
    
     }

     .insta{
         position: sticky;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 200px;
         width: 200px;
         color: white;
     }
     .youtube{
        position: float;
        padding: 100px;
    
        
         
     }
     footer{
        color: white;
        position: absolute;
        font-size: 40px;
        padding: 10px 10px;
        display: inline-block;
        height: 200px;
        width: 100%;
        background-color: red;
        margin-left: 00px;
        margin-top: 900px;
       
    } 
    .footer-link{ 
        color: white;
    }

  

