*{
    margin: 0;
    padding: 0;
}
header{
    font-size: 50px;
}

nav{
    height: 130px;
    width: 100%;
    background-color: red;
    border-bottom: 10px solid black;
    position: fixed;
    }

nav ul{

    list-style-type: none;
   float: right;
    text-shadow: 2px 2px white;

}
li{ 
    margin: 10px 10px;
        
}

nav ul li{
    display: inline-block;
    padding: 20px 20px;

}

nav ul li a{
    color: black;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;


}

nav ul li a:hover{
    color: white;
}



.logo img{
    width: 300px;
    height: 100px;
    margin: 15px 35px;
    float: left;
}

body{
    background-image: url("/w4bproject/img/9thStTerminal.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

p{
    font-size: 50px;
    border: 5px solid black;
    background-color: white;
    color: black;
    position: fixed;
    margin-top: 200px;
    margin-left: 350px;

}


.hero-image{
   
   
}



.column2{
    height: 200px;
    width: 33.33%;
    padding: 3%;
    float: left;
       
      }
      

 footer{
    font-size: 30px;
    position: float;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    height: 200px;
    width: 100%;
    background-color: red;
    margin-left: 00px;
    margin-top: 1000px;
} 
.footer-link{
    color: white;
}

.fa {
    padding: 10px;
    /* height: 100px;
    width: 100px; */
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
    position: absolute;
    left: 90%;
    top: 425%;
    border: 10px solid black;
    border-radius: 25px;
   
  }
  .fa-instagram {
    background: white;
    color: black;
    height: 50px;
    width: 50px;
  }      


